
#root {


}

body {
    background-image: linear-gradient(90deg, #1f2350 0%, #642047 100%);
    color: #fff;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #FFF;
}

.box {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.box > h2 {
    color: #fff;
}
.box>h3 {
    color: #fff;
}
.box>h4 {
    color: #fff;
}

.border {
    border: 1px solid #FFF;
}

label {
    padding: 10px;
}

button {

    background-color: #FFF;
    color: #000;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-image: linear-gradient(90deg,#1f2350 0%,#642047 100%);
    color: #FFF;
    box-shadow: 0 0 10px #FFF;
}

button:active {
    background-color: #FFF;
    
    color: #FFF;
    box-shadow: 0 0 10px #000;
}

.hide {
    display: none;
}


.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    box-sizing: border-box;
}

a {
    color: #FFF;
}
